.big--input {
  width: 100%;
  height: 70px;

  font-family: avenir-normal, sans-serif;
  box-sizing: border-box;
  font-size: 16px;

  background-image: url(../images/Search.svg);
  background-repeat: no-repeat;
  background-position: 26px 25px;
  background-size: 19px 19px;
  padding-left: 62px;

  border: 1px solid;
  border-radius: 4px;
  border-color: #e1e7ed;
}

.big--input:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.big--input:focus {
  font-family: avenir-heavy, sans-serif;
  outline: none;
  background-image:
    url(../images/Search.svg),
    linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 247, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: 26px 25px;
  background-size: 19px 19px, auto;
  border: 1px solid rgba(225, 231, 237, 1);
  border-radius: 4px;
}

.form-search--big {
  margin-top: 20px;
}
