@font-face {
  font-family: avenir-normal;
  src: url('../fonts/Avenir-Book.ttf') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: avenir-heavy;
  src: url(../fonts/Avenir-Heavy.ttf) format('woff2');
  font-weight: 300;
}
