.small--input {
  width: 100%;
  margin-top: 20px;
  height: 42px;

  font-family: avenir-normal, sans-serif;
  box-sizing: border-box;
  font-size: 14px;

  background-image: url(../images/Search.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 11px 11px;
  padding-left: 33px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #e1e7ed;
}

.small--input:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.small--input:focus {
  font-family: avenir-heavy, sans-serif;
  outline: none;
  background-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 247, 1) 100%
  );
  border: 1px solid rgba(225, 231, 237, 1);
  border-radius: 4px;
}
